.logo-bottom-line {
    color: rgb(109, 0, 0);
    font-size: 0.6rem;
}

.logo-container {
    width: 15rem;
    align-items: center;
}

.logo {
    filter: invert(100%)
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0rem 5rem;
}

.header-action-icons {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.home-icon {
    transition: transform 500ms;
}

.home-icon:hover {
    box-shadow: 3px 3px 10px #8686869a;
    transform: scale(1.1);
}

.user-icon {
    transition: transform 500ms;
}

.user-icon:hover {
    box-shadow: 3px 3px 10px #8686869a;
    transform: scale(1.1);
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    background-size: cover;
    background: url('../../Assets/temp_img.jpg');
}

.sub-header h1 {
    font-size: 3rem;
    color: white;
}

.sub-header span {
    font-size: 1.25rem;
    color: white;
}