.accordion-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mcq-container {
    width: 75%;
}

.mcq-parent-container {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
}

.accordion-button {
    border: none !important;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.previous-button {
    border: none !important;
    background: none !important;
    outline: none !important;
    color: grey;
}

.next-button {
    border: none !important;
    background: rgb(199, 0, 60) !important;
    outline: none !important;
}